projects/xforms/samples/insurance_form/money_laundering_certificate.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--Copyright Origo Services Limited 2005.-->
<xsd:schema xmlns:origo="http://www.origoservices.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ml="http://www.origostandards.com/schema/ml/v1" targetNamespace="http://www.origostandards.com/schema/ml/v1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1">
  <xsd:complexType name="MoneyLaundering">
    <xsd:annotation>
      <xsd:documentation>Electronic Money Laundering</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element ref="ml:individual"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Individual">
    <xsd:sequence>
      <xsd:element ref="ml:full_name"/>
      <xsd:element ref="ml:role"/>
      <xsd:element ref="ml:date_of_birth"/>
      <xsd:element ref="ml:address"/>
      <xsd:element ref="ml:certificate"/>
    </xsd:sequence>
    <xsd:attribute name="personal_client_id" type="xsd:IDREF" use="optional" form="unqualified">
      <xsd:annotation>
        <xsd:documentation>The individual may already be defined elsewhere in the particular
                    message.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="MLAddress">
    <xsd:sequence>
      <xsd:element ref="ml:line_1" minOccurs="0"/>
      <xsd:element ref="ml:line_2" minOccurs="0"/>
      <xsd:element ref="ml:line_3" minOccurs="0"/>
      <xsd:element ref="ml:line_4" minOccurs="0"/>
      <xsd:element ref="ml:country" minOccurs="0"/>
      <xsd:element ref="ml:postcode" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="optional" form="unqualified"/>
    <xsd:attribute name="address_id" type="xsd:IDREF" use="optional" form="unqualified"/>
  </xsd:complexType>
  <xsd:complexType name="Declaration">
    <xsd:sequence>
      <xsd:element ref="ml:name"/>
      <xsd:element ref="ml:position"/>
      <xsd:element ref="ml:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegulatedFirm">
    <xsd:sequence>
      <xsd:element ref="ml:name"/>
      <xsd:element ref="ml:regulator_name"/>
      <xsd:element ref="ml:regulator_reference_no"/>
      <xsd:element ref="ml:witness"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualCertificate">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ref="ml:reason_not_verified"/>
        <xsd:choice>
          <xsd:sequence>
            <xsd:element ref="ml:existing_evidence_used_ind"/>
            <xsd:element ref="ml:evidence_of_name"/>
            <xsd:element ref="ml:evidence_of_address"/>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:element ref="ml:source_of_funds"/>
          </xsd:sequence>
        </xsd:choice>
      </xsd:choice>
      <xsd:element ref="ml:regulated_firm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EvidenceOfName">
    <xsd:sequence>
      <xsd:element ref="ml:passport" minOccurs="0"/>
      <xsd:element ref="ml:resident_permit" minOccurs="0"/>
      <xsd:element ref="ml:uk_eu_photo_driving_licence" minOccurs="0"/>
      <xsd:element ref="ml:uk_eu_driving_licence" minOccurs="0"/>
      <xsd:element ref="ml:firearms_certificate" minOccurs="0"/>
      <xsd:element ref="ml:state_pension_book" minOccurs="0"/>
      <xsd:element ref="ml:subcontractors_certificate" minOccurs="0"/>
      <xsd:element ref="ml:tax_notification" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Passport">
    <xsd:sequence>
      <xsd:element ref="ml:passport_no"/>
      <xsd:element ref="ml:issuing_authority"/>
      <xsd:element ref="ml:place_of_birth"/>
      <xsd:element ref="ml:date_of_birth"/>
      <xsd:element ref="ml:date_of_expiry"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResidentPermit">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:date_of_expiry"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UKEUDriversLicence">
    <xsd:sequence>
      <xsd:element ref="ml:licence_number"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FirearmsCertificate">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:issuing_authority"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatePensionBook">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:issuing_authority"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubContractorsCertificate">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:issuing_authority"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InlandRevenueTaxNotification">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:document"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EvidenceOfAddress">
    <xsd:sequence>
      <xsd:element ref="ml:home_visit" minOccurs="0"/>
      <xsd:element ref="ml:mortgage_statement" minOccurs="0"/>
      <xsd:element ref="ml:tax_bill" minOccurs="0"/>
      <xsd:element ref="ml:rent_card" minOccurs="0"/>
      <xsd:element ref="ml:bank_statement" minOccurs="0"/>
      <xsd:element ref="ml:insurance_certificate" minOccurs="0"/>
      <xsd:element ref="ml:utility_bill" minOccurs="0"/>
      <xsd:element ref="ml:uk_eu_photo_driving_licence" minOccurs="0"/>
      <xsd:element ref="ml:uk_eu_driving_licence" minOccurs="0"/>
      <xsd:element ref="ml:state_pension_book" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankAccount">
    <xsd:sequence>
      <xsd:element ref="ml:account_name"/>
      <xsd:element ref="ml:account_number"/>
      <xsd:element ref="ml:sort_code"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HomeVisit">
    <xsd:sequence>
      <xsd:element ref="ml:premises_entered_ind"/>
      <xsd:element ref="ml:date_of_visit"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MortgageStatement">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:name_of_lender"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxBill">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:name_of_authority"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RentCard">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:name_of_authority"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankStatement">
    <xsd:sequence>
      <xsd:element ref="ml:account_number"/>
      <xsd:element ref="ml:name_of_issuer"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtilityBill">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:name_of_utility"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsuranceCertificate">
    <xsd:sequence>
      <xsd:element ref="ml:reference_number"/>
      <xsd:element ref="ml:name_of_issuer"/>
      <xsd:element ref="ml:date_of_issue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="individual" type="ml:Individual">
    <xsd:annotation>
      <xsd:documentation>The subject of the money laundering certificate</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="full_name" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>The full name of the individual.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="date_of_birth" type="ml:Date">
    <xsd:annotation>
      <xsd:documentation>Date of birth of the individual.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="role" type="ml:IndividualRole">
    <xsd:annotation>
      <xsd:documentation>Role the individual is playing. Either of Applicant, Trustee, or
                Third Party.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="existing_evidence_used_ind" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Existing verification evidence can be used to complete the
                certificate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="face_to_face_ind" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the client has been seen
            face-to-face.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="reference_number" type="ml:AlphaNumber">
    <xsd:annotation>
      <xsd:documentation>Unique reference number of the documentary
            evidence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="witness" type="ml:Declaration">
    <xsd:annotation>
      <xsd:documentation>The person within the regulated firm who has seen the original
                documentary evidence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="position" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>The position held by the person within the regulated
            firm.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="date" type="ml:Date">
    <xsd:annotation>
      <xsd:documentation>The date the certificate was completed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="evidence_of_name" type="ml:EvidenceOfName">
    <xsd:annotation>
      <xsd:documentation>The document(s) provided as evidence of name.</xsd:documentation>
      <xsd:documentation>At least one form of evidence of identity must be
            provided.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="evidence_of_address" type="ml:EvidenceOfAddress">
    <xsd:annotation>
      <xsd:documentation>The document(s) provided as evidence of address.</xsd:documentation>
      <xsd:documentation>At least one form of evidence of address must be
            provided.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="passport" type="ml:Passport">
    <xsd:annotation>
      <xsd:documentation>Current full signed passport</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="passport_no" type="ml:AlphaNumber">
    <xsd:annotation>
      <xsd:documentation>Unique passport reference number. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="issuing_authority" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>Authority responsible for issuing the document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="place_of_birth" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>Place of birth of the individual.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="date_of_expiry" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>Date of expiry of the document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="resident_permit" type="ml:ResidentPermit">
    <xsd:annotation>
      <xsd:documentation>Resident permit issued to EU nationals by the Home
            Office.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="uk_eu_photo_driving_licence" type="ml:UKEUDriversLicence">
    <xsd:annotation>
      <xsd:documentation>UK/EU photo driving licence</xsd:documentation>
      <xsd:documentation>Can be used as evidence of name or evidence of address, but not
            both.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="licence_number" type="ml:AlphaNumber">
    <xsd:annotation>
      <xsd:documentation>Unique driving licence number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="date_of_issue" type="ml:Date">
    <xsd:annotation>
      <xsd:documentation>Date of issue of the documentary evidence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="uk_eu_driving_licence" type="ml:UKEUDriversLicence">
    <xsd:annotation>
      <xsd:documentation>UK/EU driving licence</xsd:documentation>
      <xsd:documentation>Can be used as evidence of name or evidence of address, but not
            both.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="firearms_certificate" type="ml:FirearmsCertificate">
    <xsd:annotation>
      <xsd:documentation>Firearms certificate</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="state_pension_book" type="ml:StatePensionBook">
    <xsd:annotation>
      <xsd:documentation>State pensions or benefits book/notification letter</xsd:documentation>
      <xsd:documentation>Can be used as evidence of name or evidence of address, but not
            both.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="subcontractors_certificate" type="ml:SubContractorsCertificate">
    <xsd:annotation>
      <xsd:documentation>Sub-contractors certificate for self-employed persons in the
                construction industry</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="tax_notification" type="ml:InlandRevenueTaxNotification">
    <xsd:annotation>
      <xsd:documentation>Inland Revenue tax notification</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="document" type="ml:TaxNotificationType">
    <xsd:annotation>
      <xsd:documentation>The form of the tax notification.</xsd:documentation>
      <xsd:documentation>A P45 or P60 issued by an employer are not acceptable for this
                purpose.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="reason_not_verified" type="ml:ReasonNotVerified">
    <xsd:annotation>
      <xsd:documentation>Section B of the paper form. The reason the identity of the
                individual cannot be verified.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="regulated_firm" type="ml:RegulatedFirm">
    <xsd:annotation>
      <xsd:documentation>The regulated firm performing the ML certificate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="regulator_name" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>The name of the firms regulator, e.g. FSA</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="regulator_reference_no" type="ml:AlphaNumber">
    <xsd:annotation>
      <xsd:documentation>The regulated firms reference number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="name" type="ml:NameString"/>
  <xsd:element name="certificate" type="ml:IndividualCertificate">
    <xsd:annotation>
      <xsd:documentation>The electronic ML form.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="source_of_funds" type="ml:BankAccount">
    <xsd:annotation>
      <xsd:documentation>The source of funds concession details.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="account_name" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>Name on the account</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="account_number" type="ml:AlphaNumber">
    <xsd:annotation>
      <xsd:documentation>Unique account number</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="sort_code" type="ml:SixDigitCode">
    <xsd:annotation>
      <xsd:documentation>Unique code of the branch of the company (e.g. Bank) where the is
                held.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="bank_account" type="ml:BankAccount">
    <xsd:annotation>
      <xsd:documentation>The Bank/Building Society account details.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="date_of_visit" type="ml:Date">
    <xsd:annotation>
      <xsd:documentation>Date the home was visited.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="premises_entered_ind" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Were the premises entered?</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="home_visit" type="ml:HomeVisit">
    <xsd:annotation>
      <xsd:documentation>A visit to the individuals home</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="name_of_lender" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>Name of mortgage lender.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="mortgage_statement" type="ml:MortgageStatement">
    <xsd:annotation>
      <xsd:documentation>Most recent mortgage statement.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="name_of_authority" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>Name of the authority who issued the document being used as
            evidence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="tax_bill" type="ml:TaxBill">
    <xsd:annotation>
      <xsd:documentation>Current Local Authority tax bill.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="rent_card" type="ml:RentCard">
    <xsd:annotation>
      <xsd:documentation>Local Authority rent card or tenancy agreement.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="name_of_utility" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>Name of the utility company.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="name_of_issuer" type="ml:NameString">
    <xsd:annotation>
      <xsd:documentation>Name of the issuer of the statement or
            certificate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="bank_statement" type="ml:BankStatement">
    <xsd:annotation>
      <xsd:documentation>Bank/Building Society/Credit Union statement or
            passbook</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="utility_bill" type="ml:UtilityBill">
    <xsd:annotation>
      <xsd:documentation>Utility Bill (not mobile phone)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="insurance_certificate" type="ml:InsuranceCertificate">
    <xsd:annotation>
      <xsd:documentation> A house or motor insurance certificate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="address" type="ml:MLAddress">
    <xsd:annotation>
      <xsd:documentation>The current home address of the individual is required. If the
                current address cannot be verified the paper process must be
            used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="line_1" type="ml:AddressLine"/>
  <xsd:element name="line_2" type="ml:AddressLine"/>
  <xsd:element name="line_3" type="ml:AddressLine"/>
  <xsd:element name="line_4" type="ml:AddressLine"/>
  <xsd:element name="country" type="ml:Country"/>
  <xsd:element name="postcode" type="ml:Postcode"/>
  <xsd:simpleType name="AddressLine">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AlphaNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Country">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Date">
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <xsd:simpleType name="IndividualRole">
    <xsd:annotation>
      <xsd:documentation>Identifies the role played by an individual on whom money laundering
                checks are being performed.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ml:TypeCode">
      <xsd:enumeration value="Applicant"/>
      <xsd:enumeration value="Third Party"/>
      <xsd:enumeration value="Trustee"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NameString">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postcode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="((([A-Z]{2}[0-9]{1,2})|([A-Z]{1,2}[0-9][A-Z])|([A-Z][0-9]{1,2}))\s([0-9][A-Z]{2})|(BFPO\s\d{1,4})|(GIR\s0AA))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReasonNotVerified">
    <xsd:annotation>
      <xsd:documentation>Identifies the reason why the identity of an individual could not be
                verified.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ml:TypeCode">
      <xsd:enumeration value="Small Premium Exemption"/>
      <xsd:enumeration value="One-off Transaction"/>
      <xsd:enumeration value="Regulated Firm Exemption"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SixDigitCode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TaxNotificationType">
    <xsd:annotation>
      <xsd:documentation>Classifies various forms of tax notification documents issued by the
                Inland Revenue.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ml:TypeCode">
      <xsd:enumeration value="Tax Assessment"/>
      <xsd:enumeration value="Statement Of Account"/>
      <xsd:enumeration value="Notice Of Coding"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
